<div class='center'>
  <h3>stats</h3>
  <% @guitars.each do |guitar| %>
    style: <%= guitar.style %> |
    sessions: <%= guitar.practice_sessions.count %> |
    cumulative min of practice: <%= cumulative_minutes(guitar) %>
    <!-- Try not to use br tags in your html... old and busted.  Use css -->
    <br>
  <% end %>
  <!-- Try not to use br tags in your html... old and busted.  Use css -->
  <br>
  <a href='/practice'>home</a>
</div>

