<div class='center'>
  <h3>stats</h3>
  <% @guitars.each do |guitar| %>
    style: <%= guitar.style %> |
    sessions: <%= guitar.practice_sessions.count %>
    <br>
  <% end %>
  cumulative min of practice: <%= cumulative_minutes(User.find(session[:user_id])) %>
  <br>
  <a href='/practice'>home</a>
</div>

