<div class='center'>
  <h3>add a guitar</h3>
  <form action='/guitar/new' method='post'>
    style/model: <input type='text' name='guitar_style' />
    <input type="submit" value="add">
  </form>

  <br>

  <!-- This looks weird to have the h3 tags on the inside of the anchor tag -->
  <a href='/guitars'><h3>stats</h3></a>

  <h3>let's practice</h3>

  <form action='/practice' method='post'>
    <% @guitars.each do |guitar| %>
    <input type='radio' name='guitar_style' value='<%= guitar.id %>'><%=guitar.style%></input>
    <% end %>

    <br>
    <input value='start session' class='practice-btn' type='submit' />

  </form>
  <br>


<div>
