<form class='center' action='/' method='post'>
  <p class='bold'>Login</p>
  <p>username:</p>
  <input type='text' name='name' /><br>
  <p>password:</p>
  <input type='password' name='password' /><br>
  <input type='submit' class='button' value='login' />
</form>
